@import './globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fce4ec;
  --foreground: #171717;
  --font-sans: 'Geist', sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

